@import "../../styles/variables.scss";

.sidebar {
    @include bgdark-br6px;
    padding: 25px;
    &__title{
        @include section-title;
        font-size: 16px;
        text-transform: uppercase;
    }
    &__misc{
        margin-top: 116px;
        @include flex-between;
    }
    &__help{
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 15px;
        color: var(--dark-sea);
    }
    &__terms{
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 15px;
        color: var(--dark-sea);
        text-decoration: underline;
    }

}
.category{
    &__list{
        margin-top: 32px;
        @include flex-column;
        gap: 12px;
    }
    &__link{
        text-transform: capitalize;
        width: max-content;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        color: var(--dark-sea);
        transition: 0.2s;
        &:hover{
            color: var(--violet);
        }
    }
}